* {
    margin: 0px;
    padding: 0px;
    font: Roboto;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #e5e7eb;
    background-color: #1f2937;
    align-items: center;
    padding: 10px 0 10px 0;

}

.left-header {
    font-weight: bold;
    font-size: 24px;
    margin-left: 100px;

}

.right-header {
    font-size: 18px;
    margin-right: 100px;

}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

/*Second highest container*/

.second {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 150px 0 150px 0;
    
    
}

.text {
    margin: 0 100px 0 100px;
    width: 400px;

}

button.sign-up {
    margin-top: 8px;
    padding: 6px 28px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 6px;
    border: 0;
    font-size: 18px;



}

.image-placeholder {
    height: 200px;
    width: 450px;
    text-align: center;
    position: relative;
    background-color: #e5e7eb;
    margin: 0 100px 0 0;
    line-height: 200px;
   
    
    
    


}

.hero {
    color: #f9faf8 ;
    font-weight: 900;
    font-size: 48px;
    text-wrap: y;
    width: 450px;
}

.subtext {
  font-size: 18px;
  color: #e5e7eb;  
}

